<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>COVID cases tracker</h1>
    <p>This page will give the current number of cases reported across the globe according to John Hopins data.</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${latestNumberCases}"></h1>
        <p class="lead">Total cases reported as of today.</p>
        <hr class="my-4">
        <p>
            <span>New cases reported since previous day:</span>
            <span th:text="${NewNumberCases}"></span>
        </p>
        <table class="table">
            <tr>
                <th>States</th>
                <th>Country</th>
                <th>Latest total cases</th>
                <th>Changes since last day</th>
            </tr>
            <tr th:each="stats : $(totalCases)">
                <td th:text=""$(stats.stats)></td>
                <td th:text="$(stats.country)"></td>
                <td th:text="$(stats.latestTotalCases)"></td>
                <td th:text="$(stats.diffFromPrevDay)"></td>
            </tr>
        </table>
    </div>

    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>
</body>

</html>